
<header class="fixed-top chadaww">
  <app-entete-page></app-entete-page>
</header>


<div class="wrapper">

  <div class="sidebar">
    <app-barre-laterale></app-barre-laterale>
  </div>

  <div class="main-panel">
    <div class="content">





<!-- la barre haut de dashboard-->
<nav class="navbar navbar-header navbar-expand-lg">

  <div class="container-fluid">

    <span class="fpct2">Rapport</span>


    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">


      <!-- La partie accueil-->
      <li class="nav-item ">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="la la-home"></i> Accueil
        </a>
      </li>

      <!-- La partie notifications-->

      <li class="nav-item dropdown hidden-caret">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="la la-bell"></i>  5 Notifications
        </a>

        <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">

          <li>
            <div class="dropdown-title">Vous avez 5 notifications </div>
          </li>

          <li>
            <div class="notif-center">
              <a href="#">
                <div class="notif-icon notif-primary"> <i class="la la-user-plus"></i> </div>
                <div class="notif-content">
												<span class="block">
													Nouvel utilisateur est enregistré
												</span>
                  <span class="time">Il y a 5 minutes</span>
                </div>
              </a>


              <a href="#">
                <div class="notif-icon notif-success"> <i class="la la-comment"></i> </div>
                <div class="notif-content">
												<span class="block">
													Med a commenté sur Admin
												</span>
                  <span class="time">Il y a 15 minutes</span>
                </div>
              </a>

              <a href="#">
                <div class="notif-img">
                  <img src="assets/img/profile2.jpg" alt="Img Profile">
                </div>
                <div class="notif-content">
												<span class="block">
													Reda vous envoie des messages
												</span>
                  <span class="time">Il y a 12 minutes</span>
                </div>
              </a>

              <a href="#">
                <div class="notif-icon notif-danger"> <i class="la la-heart"></i> </div>
                <div class="notif-content">
												<span class="block">
													Farrah  a aimé le site
												</span>
                  <span class="time">Il y a 17 minutes</span>
                </div>
              </a>

              <a href="#">
                <div class="notif-icon notif-danger"> <i class="la la-question"></i> </div>
                <div class="notif-content">
												<span class="block">
													Karim a demandé le fond SAKANE
												</span>
                  <span class="time">Il y a 35 minutes</span>
                </div>
              </a>

            </div>
          </li>

          <li>
            <a class="see-all" href="javascript:void(0);"> <strong>Voir toutes les notifications</strong> <i class="la la-angle-right"></i> </a>
          </li>

        </ul>
      </li>

      <!-- La partie réglages-->


      <li class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="la la-cog"></i>  Settings
        </a>
      </li>

    </ul>

  </div>

</nav>
<!--<div class="ligne-de-nav"></div>-->
<hr>
<br> <br>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="card">

        <div class="card-header">
          <div class="card-title"> rapports du fond
            <a href=""  data-toggle="modal" data-backdrop="false"
               data-target="#myModal" class="la la-plus" role="button"
               style="margin-left: 900px; color: white;">
            </a>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="taille-titre">
              <tr>
                <th><h6> Identifiant </h6></th>
                <th><h6> Date publication </h6></th>
                <th><h6> Date expiration </h6></th>
                <th><h6> Action </h6></th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let rapport of listOfRapports">
                <td>{{rapport.idFondsDataRapport}}</td>
                <td>{{rapport.datePublication | date :'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{rapport.dateExpiration | date :'dd/MM/yyyy HH:mm:ss'}}</td>
                <td align="center"><button type="button"(click)="deleteRapport(rapport.idFondsDataRapport)" aria-hidden="true" class="la la-times"></button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="statusCode">
          <div class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            rapport a été bien supprimée
          </div>
          <div *ngIf="statusCode === 409" [ngClass] = "'success'">
            Snapshot already exists.
          </div>
          <div *ngIf="statusCode === 200" [ngClass] = "'success'">
            Snapshot updated successfully.
          </div>
          <div *ngIf="statusCode === 204" [ngClass] = "'success'">

          </div>
          <div *ngIf="statusCode === 500" [ngClass] = "'error'">
            <div class="alert alert-success alert-dismissible" data-auto-dismiss role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Erreur technique</strong> contactez s'il vous plaît l'administrateur.
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Nouveau rapport</h5>
        </div>

        <div class="modal-body">
          <div>
            <ng-container>

              <div class="form-group">
                <label for="datePublication">Date publication: *</label>
                <input type="date" value="datePublication" class="form-control" id="datePublication" required>
              </div>

              <div class="form-group">
                <label for="dateExpiration">Date expiration: *</label>
                <input type="date" value="dateExpiration" class="form-control" id="dateExpiration" required>
              </div>

              <div class="form-group">
                <label for="dateRapport">Date de rapport: *</label>
                <input type="date" value="dateRapport" class="form-control" id="dateRapport" required>
              </div>

              <div class="form-group">
                <label for="anneeRapport">Année de rapport: *</label>
                <input type="text"  class="form-control" id="anneeRapport" required>
              </div>

              <div class="form-group">
                <label for="file">
                  Fichier rapport: *<p></p><input type="file" id="file" (change)="getFileDetails($event)" accept="application/pdf">
                </label>
              </div>

            </ng-container>
            <label></label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default bottom-left" data-dismiss="modal">Fermer</button>
          <button class="btn btn-success" (click)="addRapport()">Ajouter</button>
        </div>

      </div>

    </div>

  </div>

</div>


    </div>
  </div>

</div>
